x-common-env: &common-env
  MessageBroker__Host: ${RABBITMQ_HOST}
  MessageBroker__Username: ${RABBITMQ_USER}
  MessageBroker__Password: ${RABBITMQ_PASS}
  S3Settings__ServiceUrl: ${S3_URL}
  S3Settings__AccessKey: ${S3_ACCESS_KEY}
  S3Settings__SecretKey: ${S3_SECRET_KEY}
  OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4317
services:
  aspire-dashboard:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:latest
    ports:
      - "18888:18888"
    container_name: aspire-dashboard
  rabbitmq:
    image: rabbitmq:management-alpine
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - /var/lib/rabbitmq
      - /var/log/rabbitmq
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASS}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio:/data
    command:
      server /data --console-address ":9001"

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      - "4317:4317"
      - "4318:4318"
      - "16686:16686"
  user-api:
    build:
      context: Services/User/User.Api
      dockerfile: Dockerfile
    container_name: user-api
    ports:
      - "5000:8080"
      - "5001:8081"
    environment:
      <<: *common-env
      NpgsqlConnection: "Host=host.docker.internal;Port=5432;User Id=postgres;Password=4636;Database=Ecommerce.Users"
    volumes:
      - .:/app
      - /app/bin
      - /app/obj
    develop:
      watch:
        - action: sync
          path: Ecommerce.Gateway
          target: /app
  identity-api:
    build:
      context: Services/Identity/Identity.Api
      dockerfile: Dockerfile
    container_name: identity-api
    ports:
      - "5002:8080"
      - "5003:8081"
    environment:
      <<: *common-env
      NpgsqlConnection: "Host=host.docker.internal;Port=5432;User Id=postgres;Password=4636;Database=Ecommerce.Identity"
    volumes:
      - .:/app
      - /app/bin
      - /app/obj
  gateway-api:
    build:
      context: Ecommerce.Gateway
      dockerfile: Dockerfile
    container_name: gateway-api
    ports:
      - "5004:8080"
      - "5005:8081"
    environment:
      <<: *common-env
    volumes:
      - .:/app
      - /app/bin
      - /app/obj
    develop:
      watch:
        - action: sync
          path: Ecommerce.Gateway
          target: /app
  catalog.api:
    ports:
      - "5006:8080"
      - "5007:8081"
    build:
      context: Services/CatalogProduct/Catalog.Api
      dockerfile: Dockerfile
    container_name: catalog-api
    depends_on:
      - rabbitmq
    environment:
      <<: *common-env
      NpgsqlConnection: "Host=host.docker.internal;Port=5432;User Id=postgres;Password=4636;Database=Ecommerce.Catalog"
  imageprocessing.api:
    ports:
      - "5008:8080"
      - "5009:8081"
    build:
      context: Services/ImageProcessing/Processor.Api
      dockerfile: Dockerfile
    container_name: imageprocessing-api
    depends_on:
      - rabbitmq
    environment:
      <<: *common-env
    volumes:
      - .:/app
      - /app/bin
      - /app/obj
  basket-api:
    build:
      context: Basket.Api
      dockerfile: Dockerfile
    container_name: basket-api
    ports:
      - "5010:8080"
      - "5011:8081"
    depends_on:
      - rabbitmq
    environment:
      <<: *common-env
      NpgsqlConnection: "Host=host.docker.internal;Port=5432;User Id=postgres;Password=4636;Database=Ecommerce.Basket"
    volumes:
      - .:/app
      - /app/bin
      - /app/obj