services:
  user-api:
    build:
      context: User.Api
      dockerfile: Dockerfile
    container_name: user-api
    ports:
      - "5000:8080"
      - "5001:8081"
    environment:
      NpgsqlConnection: "Host=host.docker.internal;Port=5432;User Id=postgres;Password=4636;Database=Ecommerce.Users"
  identity-api:
    build:
      context: Identity.Api
      dockerfile: Dockerfile
    container_name: identity-api
    ports:
      - "5002:8080"
      - "5003:8081"
    environment:
      NpgsqlConnection: "Host=host.docker.internal;Port=5432;User Id=postgres;Password=4636;Database=Ecommerce.Identity"
