services:
  aspire-dashboard:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:latest
    ports:
      - "18888:18888"
    container_name: aspire-dashboard
  rabbitmq:
    image: rabbitmq:management-alpine
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - /var/lib/rabbitmq
      - /var/log/rabbitmq
  jaeger:
    image: jaegertracing/all-in-one
    container_name: jaeger
    ports:
      - "4317:4317"
      - "4318:4318"
      - "16686:16686"
  user-api:
    build:
      context: Services/User/User.Api
      dockerfile: Dockerfile
    container_name: user-api
    ports:
      - "5000:8080"
      - "5001:8081"
    environment:
      NpgsqlConnection: "Host=host.docker.internal;Port=5432;User Id=postgres;Password=4636;Database=Ecommerce.Users"
    volumes:
      - .:/app
      - /app/bin
      - /app/obj
    develop:
      watch:
        - action: sync
          path: Ecommerce.Gateway
          target: /app
  identity-api:
    build:
      context: Services/Identity/Identity.Api
      dockerfile: Dockerfile
    container_name: identity-api
    ports:
      - "5002:8080"
      - "5003:8081"
    environment:
      - NpgsqlConnection=Host=host.docker.internal;Port=5432;User Id=postgres;Password=4636;Database=Ecommerce.Identity
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://aspire-dashboard:18889
    volumes:
      - .:/app
      - /app/bin
      - /app/obj
  gateway-api:
    build:
      context: Ecommerce.Gateway
      dockerfile: Dockerfile
    container_name: gateway-api
    ports:
      - "5004:8080"
      - "5005:8081"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://aspire-dashboard:18889
    volumes:
      - .:/app
      - /app/bin
      - /app/obj
    develop:
      watch:
        - action: sync
          path: Ecommerce.Gateway
          target: /app
  
  catalog.api:
    ports:
      - "5006:8080"
      - "5007:8081"
    build:
      context: Services/CatalogProduct/Catalog.Api
      dockerfile: Dockerfile
    container_name: catalog-api
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://aspire-dashboard:18889
      - NpgsqlConnection=Host=host.docker.internal;Port=5432;User Id=postgres;Password=4636;Database=Ecommerce.Catalog
  imageprocessing.api:
    ports:
      - "5008:8080"
      - "5009:8081"
    build:
      context: Services/ImageProcessing/Processor.Api
      dockerfile: Dockerfile
    container_name: imageprocessing-api
